.elementor-146 .elementor-element.elementor-element-7f49dc9 {
	--display: flex;
	--flex-direction: row;
	--container-widget-width: initial;
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--flex-wrap-mobile: wrap;
	--gap: 0px 0px;
	--row-gap: 0px;
	--column-gap: 0px;
	border-style: solid;
	--border-style: solid;
	border-width: 1px 0px 0px 0px;
	--border-top-width: 1px;
	--border-right-width: 0px;
	--border-bottom-width: 0px;
	--border-left-width: 0px;
	border-color: #eaeaea;
	--border-color: #eaeaea;
	--padding-top: 80px;
	--padding-bottom: 40px;
	--padding-left: 0px;
	--padding-right: 0px;
}
.elementor-146 .elementor-element.elementor-element-9e6ef99 {
	--display: flex;
	--flex-direction: column;
	--container-widget-width: 100%;
	--container-widget-height: initial;
	--container-widget-flex-grow: 0;
	--container-widget-align-self: initial;
	--flex-wrap-mobile: wrap;
}
.elementor-widget-image .widget-image-caption {
	color: var(--e-global-color-text);
	font-family: var(--e-global-typography-text-font-family), Sans-serif;
	font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-146 .elementor-element.elementor-element-d31e23e {
	text-align: start;
}
.elementor-146 .elementor-element.elementor-element-d31e23e img {
	width: 97%;
}
.elementor-widget-text-editor {
	font-family: var(--e-global-typography-text-font-family), Sans-serif;
	font-weight: var(--e-global-typography-text-font-weight);
	color: var(--e-global-color-text);
}
.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
	background-color: var(--e-global-color-primary);
}
.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap,
.elementor-widget-text-editor.elementor-drop-cap-view-default .elementor-drop-cap {
	color: var(--e-global-color-primary);
	border-color: var(--e-global-color-primary);
}
.elementor-146 .elementor-element.elementor-element-af907ea {
	margin: 0px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 015px;
	font-family: "Inter", Sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #666666;
}
.elementor-146 .elementor-element.elementor-element-8b536d2 {
	--display: flex;
	--flex-direction: column;
	--container-widget-width: 100%;
	--container-widget-height: initial;
	--container-widget-flex-grow: 0;
	--container-widget-align-self: initial;
	--flex-wrap-mobile: wrap;
}
.elementor-widget-heading .elementor-heading-title {
	font-family: var(--e-global-typography-primary-font-family), Sans-serif;
	font-weight: var(--e-global-typography-primary-font-weight);
	color: var(--e-global-color-primary);
}
.elementor-146 .elementor-element.elementor-element-d5c1352 .elementor-heading-title {
	font-family: "Inter", Sans-serif;
	font-size: 14px;
	font-weight: 600;
	color: #000000;
}
.elementor-widget-icon-list .elementor-icon-list-item:not(:last-child):after {
	border-color: var(--e-global-color-text);
}
.elementor-widget-icon-list .elementor-icon-list-icon i {
	color: var(--e-global-color-primary);
}
.elementor-widget-icon-list .elementor-icon-list-icon svg {
	fill: var(--e-global-color-primary);
}
.elementor-widget-icon-list .elementor-icon-list-item > .elementor-icon-list-text,
.elementor-widget-icon-list .elementor-icon-list-item > a {
	font-family: var(--e-global-typography-text-font-family), Sans-serif;
	font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-widget-icon-list .elementor-icon-list-text {
	color: var(--e-global-color-secondary);
}
.elementor-146
	.elementor-element.elementor-element-d132579
	.elementor-icon-list-items:not(.elementor-inline-items)
	.elementor-icon-list-item:not(:last-child) {
	padding-block-end: calc(10px / 2);
}
.elementor-146
	.elementor-element.elementor-element-d132579
	.elementor-icon-list-items:not(.elementor-inline-items)
	.elementor-icon-list-item:not(:first-child) {
	margin-block-start: calc(10px / 2);
}
.elementor-146
	.elementor-element.elementor-element-d132579
	.elementor-icon-list-items.elementor-inline-items
	.elementor-icon-list-item {
	margin-inline: calc(10px / 2);
}
.elementor-146
	.elementor-element.elementor-element-d132579
	.elementor-icon-list-items.elementor-inline-items {
	margin-inline: calc(-10px / 2);
}
.elementor-146
	.elementor-element.elementor-element-d132579
	.elementor-icon-list-items.elementor-inline-items
	.elementor-icon-list-item:after {
	inset-inline-end: calc(-10px / 2);
}
.elementor-146 .elementor-element.elementor-element-d132579 .elementor-icon-list-icon i {
	transition: color 0.3s;
}
.elementor-146 .elementor-element.elementor-element-d132579 .elementor-icon-list-icon svg {
	transition: fill 0.3s;
}
.elementor-146 .elementor-element.elementor-element-d132579 {
	--e-icon-list-icon-size: 14px;
	--icon-vertical-offset: 0px;
}
.elementor-146
	.elementor-element.elementor-element-d132579
	.elementor-icon-list-item
	> .elementor-icon-list-text,
.elementor-146 .elementor-element.elementor-element-d132579 .elementor-icon-list-item > a {
	font-family: "Roboto", Sans-serif;
	font-size: 14px;
	font-weight: 400;
}
.elementor-146 .elementor-element.elementor-element-d132579 .elementor-icon-list-text {
	color: #666666;
	transition: color 0.3s;
}
.elementor-146 .elementor-element.elementor-element-7a358d2 {
	--display: flex;
	--flex-direction: column;
	--container-widget-width: 100%;
	--container-widget-height: initial;
	--container-widget-flex-grow: 0;
	--container-widget-align-self: initial;
	--flex-wrap-mobile: wrap;
}
.elementor-146 .elementor-element.elementor-element-8a8738d .elementor-heading-title {
	font-family: "Inter", Sans-serif;
	font-size: 14px;
	font-weight: 600;
	color: #000000;
}
.elementor-146
	.elementor-element.elementor-element-890b588
	.elementor-icon-list-items:not(.elementor-inline-items)
	.elementor-icon-list-item:not(:last-child) {
	padding-block-end: calc(10px / 2);
}
.elementor-146
	.elementor-element.elementor-element-890b588
	.elementor-icon-list-items:not(.elementor-inline-items)
	.elementor-icon-list-item:not(:first-child) {
	margin-block-start: calc(10px / 2);
}
.elementor-146
	.elementor-element.elementor-element-890b588
	.elementor-icon-list-items.elementor-inline-items
	.elementor-icon-list-item {
	margin-inline: calc(10px / 2);
}
.elementor-146
	.elementor-element.elementor-element-890b588
	.elementor-icon-list-items.elementor-inline-items {
	margin-inline: calc(-10px / 2);
}
.elementor-146
	.elementor-element.elementor-element-890b588
	.elementor-icon-list-items.elementor-inline-items
	.elementor-icon-list-item:after {
	inset-inline-end: calc(-10px / 2);
}
.elementor-146 .elementor-element.elementor-element-890b588 .elementor-icon-list-icon i {
	transition: color 0.3s;
}
.elementor-146 .elementor-element.elementor-element-890b588 .elementor-icon-list-icon svg {
	transition: fill 0.3s;
}
.elementor-146 .elementor-element.elementor-element-890b588 {
	--e-icon-list-icon-size: 14px;
	--icon-vertical-offset: 0px;
}
.elementor-146
	.elementor-element.elementor-element-890b588
	.elementor-icon-list-item
	> .elementor-icon-list-text,
.elementor-146 .elementor-element.elementor-element-890b588 .elementor-icon-list-item > a {
	font-family: "Roboto", Sans-serif;
	font-size: 14px;
	font-weight: 400;
}
.elementor-146 .elementor-element.elementor-element-890b588 .elementor-icon-list-text {
	color: #666666;
	transition: color 0.3s;
}
.elementor-146 .elementor-element.elementor-element-ef697a0 {
	--display: flex;
	--flex-direction: column;
	--container-widget-width: 100%;
	--container-widget-height: initial;
	--container-widget-flex-grow: 0;
	--container-widget-align-self: initial;
	--flex-wrap-mobile: wrap;
}
.elementor-146 .elementor-element.elementor-element-1b4367b .elementor-heading-title {
	font-family: "Inter", Sans-serif;
	font-size: 14px;
	font-weight: 600;
	color: #000000;
}
.elementor-146
	.elementor-element.elementor-element-6c8ae97
	.elementor-icon-list-items:not(.elementor-inline-items)
	.elementor-icon-list-item:not(:last-child) {
	padding-block-end: calc(10px / 2);
}
.elementor-146
	.elementor-element.elementor-element-6c8ae97
	.elementor-icon-list-items:not(.elementor-inline-items)
	.elementor-icon-list-item:not(:first-child) {
	margin-block-start: calc(10px / 2);
}
.elementor-146
	.elementor-element.elementor-element-6c8ae97
	.elementor-icon-list-items.elementor-inline-items
	.elementor-icon-list-item {
	margin-inline: calc(10px / 2);
}
.elementor-146
	.elementor-element.elementor-element-6c8ae97
	.elementor-icon-list-items.elementor-inline-items {
	margin-inline: calc(-10px / 2);
}
.elementor-146
	.elementor-element.elementor-element-6c8ae97
	.elementor-icon-list-items.elementor-inline-items
	.elementor-icon-list-item:after {
	inset-inline-end: calc(-10px / 2);
}
.elementor-146 .elementor-element.elementor-element-6c8ae97 .elementor-icon-list-icon i {
	transition: color 0.3s;
}
.elementor-146 .elementor-element.elementor-element-6c8ae97 .elementor-icon-list-icon svg {
	transition: fill 0.3s;
}
.elementor-146 .elementor-element.elementor-element-6c8ae97 {
	--e-icon-list-icon-size: 14px;
	--icon-vertical-offset: 0px;
}
.elementor-146
	.elementor-element.elementor-element-6c8ae97
	.elementor-icon-list-item
	> .elementor-icon-list-text,
.elementor-146 .elementor-element.elementor-element-6c8ae97 .elementor-icon-list-item > a {
	font-family: "Roboto", Sans-serif;
	font-size: 14px;
	font-weight: 400;
}
.elementor-146 .elementor-element.elementor-element-6c8ae97 .elementor-icon-list-text {
	color: #666666;
	transition: color 0.3s;
}
.elementor-146 .elementor-element.elementor-element-c389a53 {
	--display: flex;
	--flex-direction: row;
	--container-widget-width: initial;
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--flex-wrap-mobile: wrap;
	border-style: solid;
	--border-style: solid;
	border-width: 1px 0px 0px 0px;
	--border-top-width: 1px;
	--border-right-width: 0px;
	--border-bottom-width: 0px;
	--border-left-width: 0px;
	border-color: #eaeaea;
	--border-color: #eaeaea;
	--padding-top: 0px;
	--padding-bottom: 80px;
	--padding-left: 0px;
	--padding-right: 0px;
}
.elementor-146 .elementor-element.elementor-element-f9fc196 {
	--display: flex;
	--flex-direction: row;
	--container-widget-width: initial;
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--flex-wrap-mobile: wrap;
}
.elementor-146 .elementor-element.elementor-element-d5a0462 {
	width: var(--container-widget-width, 50%);
	max-width: 50%;
	margin: 0px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 015px;
	--container-widget-width: 50%;
	--container-widget-flex-grow: 0;
	font-family: "Inter", Sans-serif;
	font-size: 13px;
	font-weight: 400;
	color: #99999999;
}
.elementor-146 .elementor-element.elementor-element-e95a5d1 {
	width: var(--container-widget-width, 50%);
	max-width: 50%;
	margin: 0px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 015px;
	--container-widget-width: 50%;
	--container-widget-flex-grow: 0;
	text-align: end;
	font-family: "Inter", Sans-serif;
	font-size: 13px;
	font-weight: 400;
	color: #99999999;
}
.elementor-146 .elementor-element.elementor-element-e95a5d1 a {
	color: #99999999;
}
.elementor-146 .elementor-element.elementor-element-e95a5d1 a:hover,
.elementor-146 .elementor-element.elementor-element-e95a5d1 a:focus {
	color: #666666;
}
.elementor-theme-builder-content-area {
	height: 400px;
}
.elementor-location-header:before,
.elementor-location-footer:before {
	content: "";
	display: table;
	clear: both;
}
@media (max-width: 767px) {
	.elementor-146 .elementor-element.elementor-element-7f49dc9 {
		--padding-top: 50px;
		--padding-bottom: 20px;
		--padding-left: 20px;
		--padding-right: 20px;
	}
	.elementor-146 .elementor-element.elementor-element-9e6ef99 {
		--padding-top: 0px;
		--padding-bottom: 0px;
		--padding-left: 0px;
		--padding-right: 0px;
	}
	.elementor-146 .elementor-element.elementor-element-8b536d2 {
		--margin-top: 20px;
		--margin-bottom: 0px;
		--margin-left: 0px;
		--margin-right: 0px;
	}
	.elementor-146 .elementor-element.elementor-element-7a358d2 {
		--margin-top: 20px;
		--margin-bottom: 0px;
		--margin-left: 0px;
		--margin-right: 0px;
	}
	.elementor-146 .elementor-element.elementor-element-ef697a0 {
		--margin-top: 20px;
		--margin-bottom: 0px;
		--margin-left: 0px;
		--margin-right: 0px;
	}
	.elementor-146 .elementor-element.elementor-element-c389a53 {
		--padding-top: 0px;
		--padding-bottom: 40px;
		--padding-left: 0px;
		--padding-right: 0px;
	}
}
@media (min-width: 768px) {
	.elementor-146 .elementor-element.elementor-element-7f49dc9 {
		--content-width: 1400px;
	}
	.elementor-146 .elementor-element.elementor-element-9e6ef99 {
		--width: 25%;
	}
	.elementor-146 .elementor-element.elementor-element-8b536d2 {
		--width: 25%;
	}
	.elementor-146 .elementor-element.elementor-element-7a358d2 {
		--width: 25%;
	}
	.elementor-146 .elementor-element.elementor-element-ef697a0 {
		--width: 25%;
	}
	.elementor-146 .elementor-element.elementor-element-c389a53 {
		--content-width: 1400px;
	}
}
