.elementor-1401 .elementor-element.elementor-element-8e5f2d1 {
	--display: flex;
	--flex-direction: column;
	--container-widget-width: 100%;
	--container-widget-height: initial;
	--container-widget-flex-grow: 0;
	--container-widget-align-self: initial;
	--flex-wrap-mobile: wrap;
	--gap: 40px 40px;
	--row-gap: 40px;
	--column-gap: 40px;
	--padding-top: 50px;
	--padding-bottom: 100px;
	--padding-left: 0px;
	--padding-right: 0px;
}
.elementor-1401 .elementor-element.elementor-element-1bf53ae {
	--display: flex;
	--flex-direction: row;
	--container-widget-width: initial;
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--flex-wrap-mobile: wrap;
	--gap: 0px 0px;
	--row-gap: 0px;
	--column-gap: 0px;
	--margin-top: 0px;
	--margin-bottom: 0px;
	--margin-left: 0px;
	--margin-right: 0px;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}
.elementor-1401 .elementor-element.elementor-element-4d4864e {
	--display: flex;
	--justify-content: center;
	--margin-top: 0px;
	--margin-bottom: 0px;
	--margin-left: 0px;
	--margin-right: 0px;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 30px;
}
.elementor-widget-heading .elementor-heading-title {
	font-family: var(--e-global-typography-primary-font-family), Sans-serif;
	font-weight: var(--e-global-typography-primary-font-weight);
	color: var(--e-global-color-primary);
}
.elementor-1401 .elementor-element.elementor-element-d1e1a52 {
	text-align: start;
}
.elementor-1401 .elementor-element.elementor-element-d1e1a52 .elementor-heading-title {
	font-family: "Inter", Sans-serif;
	font-size: 14px;
	font-weight: 300;
	text-transform: uppercase;
	color: #999;
}
.elementor-1401 .elementor-element.elementor-element-2422977 .elementor-heading-title {
	font-family: "Inter", Sans-serif;
	font-size: 72px;
	font-weight: 600;
	color: #000;
}
.elementor-widget-text-editor {
	font-family: var(--e-global-typography-text-font-family), Sans-serif;
	font-weight: var(--e-global-typography-text-font-weight);
	color: var(--e-global-color-text);
}
.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
	background-color: var(--e-global-color-primary);
}
.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap,
.elementor-widget-text-editor.elementor-drop-cap-view-default .elementor-drop-cap {
	color: var(--e-global-color-primary);
	border-color: var(--e-global-color-primary);
}
.elementor-1401 .elementor-element.elementor-element-ab19e4e {
	margin: 10px 0 calc(var(--kit-widget-spacing, 0px) + 0px);
	font-family: "Inter", Sans-serif;
	font-size: 20px;
	font-weight: 400;
	color: #666;
}
.elementor-widget-button .elementor-button {
	background-color: var(--e-global-color-accent);
	font-family: var(--e-global-typography-accent-font-family), Sans-serif;
	font-weight: var(--e-global-typography-accent-font-weight);
}
.elementor-1401 .elementor-element.elementor-element-2b675c4 .elementor-button {
	background-color: #111;
	font-family: "Inter", Sans-serif;
	font-size: 16px;
	font-weight: 300;
	border-radius: 0px 0px 0px 0px;
	padding: 20px 40px;
}
.elementor-1401 .elementor-element.elementor-element-2b675c4 .elementor-button:hover,
.elementor-1401 .elementor-element.elementor-element-2b675c4 .elementor-button:focus {
	background-color: #1a1b25;
}
.elementor-1401 .elementor-element.elementor-element-2b675c4 {
	margin: 30px 0 calc(var(--kit-widget-spacing, 0px) + 0px);
}
.elementor-1401 .elementor-element.elementor-element-0c19810 {
	--display: flex;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}
.elementor-widget-image .widget-image-caption {
	color: var(--e-global-color-text);
	font-family: var(--e-global-typography-text-font-family), Sans-serif;
	font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-1401 .elementor-element.elementor-element-e2da3dc {
	text-align: start;
}
.elementor-1401 .elementor-element.elementor-element-e2da3dc img {
	max-width: 100%;
	filter: brightness(100%) contrast(100%) saturate(0%) blur(0px) hue-rotate(0deg);
}
.elementor-1401 .elementor-element.elementor-element-e2da3dc:hover img {
	filter: brightness(100%) contrast(100%) saturate(200%) blur(0px) hue-rotate(0deg);
}
.elementor-1401 .elementor-element.elementor-element-c5b6d18 {
	--display: flex;
	--flex-direction: column;
	--container-widget-width: 100%;
	--container-widget-height: initial;
	--container-widget-flex-grow: 0;
	--container-widget-align-self: initial;
	--flex-wrap-mobile: wrap;
	--padding-top: 100px;
	--padding-bottom: 100px;
	--padding-left: 0px;
	--padding-right: 0px;
}
.elementor-1401
	.elementor-element.elementor-element-c5b6d18:not(.elementor-motion-effects-element-type-background),
.elementor-1401
	.elementor-element.elementor-element-c5b6d18
	> .elementor-motion-effects-container
	> .elementor-motion-effects-layer {
	background-color: #f5f5f5;
}
.elementor-1401 .elementor-element.elementor-element-0467933 .elementor-heading-title {
	font-family: "Inter", Sans-serif;
	font-size: 56px;
	font-weight: 600;
	color: #000;
}
.elementor-1401 .elementor-element.elementor-element-f9040e7 {
	margin: 10px 0 calc(var(--kit-widget-spacing, 0px) + 0px);
	text-align: justify;
	font-family: "Inter", Sans-serif;
	font-size: 20px;
	font-weight: 400;
	line-height: 36px;
	color: #666;
}
.elementor-1401 .elementor-element.elementor-element-c8db3b8 {
	--display: flex;
	--flex-direction: column;
	--container-widget-width: 100%;
	--container-widget-height: initial;
	--container-widget-flex-grow: 0;
	--container-widget-align-self: initial;
	--flex-wrap-mobile: wrap;
	--gap: 40px 40px;
	--row-gap: 40px;
	--column-gap: 40px;
	--padding-top: 100px;
	--padding-bottom: 100px;
	--padding-left: 0px;
	--padding-right: 0px;
}
.elementor-1401 .elementor-element.elementor-element-2ffe830 {
	--display: flex;
	--flex-direction: row;
	--container-widget-width: initial;
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--flex-wrap-mobile: wrap;
	--gap: 0px 0px;
	--row-gap: 0px;
	--column-gap: 0px;
	--margin-top: 0px;
	--margin-bottom: 0px;
	--margin-left: 0px;
	--margin-right: 0px;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}
.elementor-1401 .elementor-element.elementor-element-b8365c7 {
	--display: flex;
	--justify-content: center;
	--margin-top: 0px;
	--margin-bottom: 0px;
	--margin-left: 0px;
	--margin-right: 0px;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}
.elementor-1401 .elementor-element.elementor-element-cf20808 .elementor-heading-title {
	font-family: "Inter", Sans-serif;
	font-size: 56px;
	font-weight: 600;
	color: #000;
}
.elementor-widget-icon-list .elementor-icon-list-item:not(:last-child):after {
	border-color: var(--e-global-color-text);
}
.elementor-widget-icon-list .elementor-icon-list-icon i {
	color: var(--e-global-color-primary);
}
.elementor-widget-icon-list .elementor-icon-list-icon svg {
	fill: var(--e-global-color-primary);
}
.elementor-widget-icon-list .elementor-icon-list-item > .elementor-icon-list-text,
.elementor-widget-icon-list .elementor-icon-list-item > a {
	font-family: var(--e-global-typography-text-font-family), Sans-serif;
	font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-widget-icon-list .elementor-icon-list-text {
	color: var(--e-global-color-secondary);
}
.elementor-1401 .elementor-element.elementor-element-9fe6cb2 {
	margin: 20px 0 calc(var(--kit-widget-spacing, 0px) + 0px);
	--e-icon-list-icon-size: 19px;
	--icon-vertical-offset: 0px;
}
.elementor-1401
	.elementor-element.elementor-element-9fe6cb2
	.elementor-icon-list-items:not(.elementor-inline-items)
	.elementor-icon-list-item:not(:last-child) {
	padding-block-end: calc(45px / 2);
}
.elementor-1401
	.elementor-element.elementor-element-9fe6cb2
	.elementor-icon-list-items:not(.elementor-inline-items)
	.elementor-icon-list-item:not(:first-child) {
	margin-block-start: calc(45px / 2);
}
.elementor-1401
	.elementor-element.elementor-element-9fe6cb2
	.elementor-icon-list-items.elementor-inline-items
	.elementor-icon-list-item {
	margin-inline: calc(45px / 2);
}
.elementor-1401
	.elementor-element.elementor-element-9fe6cb2
	.elementor-icon-list-items.elementor-inline-items {
	margin-inline: calc(-45px / 2);
}
.elementor-1401
	.elementor-element.elementor-element-9fe6cb2
	.elementor-icon-list-items.elementor-inline-items
	.elementor-icon-list-item:after {
	inset-inline-end: calc(-45px / 2);
}
.elementor-1401
	.elementor-element.elementor-element-9fe6cb2
	.elementor-icon-list-item:not(:last-child):after {
	content: "";
	border-color: #ddd;
}
.elementor-1401
	.elementor-element.elementor-element-9fe6cb2
	.elementor-icon-list-items:not(.elementor-inline-items)
	.elementor-icon-list-item:not(:last-child):after {
	border-block-start-style: solid;
	border-block-start-width: 1px;
}
.elementor-1401
	.elementor-element.elementor-element-9fe6cb2
	.elementor-icon-list-items.elementor-inline-items
	.elementor-icon-list-item:not(:last-child):after {
	border-inline-start-style: solid;
}
.elementor-1401
	.elementor-element.elementor-element-9fe6cb2
	.elementor-inline-items
	.elementor-icon-list-item:not(:last-child):after {
	border-inline-start-width: 1px;
}
.elementor-1401 .elementor-element.elementor-element-9fe6cb2 .elementor-icon-list-icon i {
	color: #1a1a1a;
	transition: color 0.3s;
}
.elementor-1401 .elementor-element.elementor-element-9fe6cb2 .elementor-icon-list-icon svg {
	fill: #1a1a1a;
	transition: fill 0.3s;
}
.elementor-1401 .elementor-element.elementor-element-9fe6cb2 .elementor-icon-list-icon {
	padding-inline-end: 8px;
}
.elementor-1401
	.elementor-element.elementor-element-9fe6cb2
	.elementor-icon-list-item
	> .elementor-icon-list-text,
.elementor-1401 .elementor-element.elementor-element-9fe6cb2 .elementor-icon-list-item > a {
	font-family: "Inter", Sans-serif;
	font-size: 22px;
	font-weight: 400;
}
.elementor-1401 .elementor-element.elementor-element-9fe6cb2 .elementor-icon-list-text {
	color: #666;
	transition: color 0.3s;
}
.elementor-1401 .elementor-element.elementor-element-ddd7af6 {
	--display: flex;
	--flex-direction: column;
	--container-widget-width: 100%;
	--container-widget-height: initial;
	--container-widget-flex-grow: 0;
	--container-widget-align-self: initial;
	--flex-wrap-mobile: wrap;
	--padding-top: 100px;
	--padding-bottom: 100px;
	--padding-left: 0px;
	--padding-right: 0px;
}
.elementor-1401
	.elementor-element.elementor-element-ddd7af6:not(.elementor-motion-effects-element-type-background),
.elementor-1401
	.elementor-element.elementor-element-ddd7af6
	> .elementor-motion-effects-container
	> .elementor-motion-effects-layer {
	background-color: #f5f5f5;
}
.elementor-1401 .elementor-element.elementor-element-10a8ec9 .elementor-heading-title {
	font-family: "Inter", Sans-serif;
	font-size: 56px;
	font-weight: 600;
	color: #000;
}
.elementor-1401 .elementor-element.elementor-element-f9fdb3b {
	--display: flex;
	--flex-direction: row;
	--container-widget-width: initial;
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--flex-wrap-mobile: wrap;
	--gap: 30px 30px;
	--row-gap: 30px;
	--column-gap: 30px;
	--margin-top: 30px;
	--margin-bottom: 0px;
	--margin-left: 0px;
	--margin-right: 0px;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}
.elementor-1401 .elementor-element.elementor-element-eb12e00 {
	--display: flex;
	--margin-top: 0px;
	--margin-bottom: 0px;
	--margin-left: 0px;
	--margin-right: 0px;
	--padding-top: 50px;
	--padding-bottom: 50px;
	--padding-left: 50px;
	--padding-right: 50px;
}
.elementor-1401
	.elementor-element.elementor-element-eb12e00:not(.elementor-motion-effects-element-type-background),
.elementor-1401
	.elementor-element.elementor-element-eb12e00
	> .elementor-motion-effects-container
	> .elementor-motion-effects-layer {
	background-color: #fff;
}
.elementor-1401 .elementor-element.elementor-element-f29cdab {
	margin: 0 0 calc(var(--kit-widget-spacing, 0px) + 0px);
	text-align: start;
}
.elementor-1401 .elementor-element.elementor-element-f29cdab .elementor-heading-title {
	font-family: "Inter", Sans-serif;
	font-size: 28px;
	font-weight: 500;
	color: #000;
}
.elementor-1401 .elementor-element.elementor-element-5feee70 {
	text-align: start;
	font-family: "Inter", Sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: #666;
}
.elementor-1401 .elementor-element.elementor-element-056440d {
	--display: flex;
	--margin-top: 0px;
	--margin-bottom: 0px;
	--margin-left: 0px;
	--margin-right: 0px;
	--padding-top: 50px;
	--padding-bottom: 50px;
	--padding-left: 50px;
	--padding-right: 50px;
}
.elementor-1401
	.elementor-element.elementor-element-056440d:not(.elementor-motion-effects-element-type-background),
.elementor-1401
	.elementor-element.elementor-element-056440d
	> .elementor-motion-effects-container
	> .elementor-motion-effects-layer {
	background-color: #fff;
}
.elementor-1401 .elementor-element.elementor-element-d9fce11 {
	margin: 0 0 calc(var(--kit-widget-spacing, 0px) + 0px);
	text-align: start;
}
.elementor-1401 .elementor-element.elementor-element-d9fce11 .elementor-heading-title {
	font-family: "Inter", Sans-serif;
	font-size: 28px;
	font-weight: 500;
	color: #000;
}
.elementor-1401 .elementor-element.elementor-element-b5ac859 {
	text-align: start;
	font-family: "Inter", Sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: #666;
}
.elementor-1401 .elementor-element.elementor-element-433a835 {
	--display: flex;
	--flex-direction: row;
	--container-widget-width: initial;
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--flex-wrap-mobile: wrap;
	--gap: 30px 30px;
	--row-gap: 30px;
	--column-gap: 30px;
	--margin-top: 10px;
	--margin-bottom: 0px;
	--margin-left: 0px;
	--margin-right: 0px;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}
.elementor-1401 .elementor-element.elementor-element-e5b7130 {
	--display: flex;
	--margin-top: 0px;
	--margin-bottom: 0px;
	--margin-left: 0px;
	--margin-right: 0px;
	--padding-top: 50px;
	--padding-bottom: 50px;
	--padding-left: 50px;
	--padding-right: 50px;
}
.elementor-1401
	.elementor-element.elementor-element-e5b7130:not(.elementor-motion-effects-element-type-background),
.elementor-1401
	.elementor-element.elementor-element-e5b7130
	> .elementor-motion-effects-container
	> .elementor-motion-effects-layer {
	background-color: #fff;
}
.elementor-1401 .elementor-element.elementor-element-fc6685b {
	margin: 0 0 calc(var(--kit-widget-spacing, 0px) + 0px);
	text-align: start;
}
.elementor-1401 .elementor-element.elementor-element-fc6685b .elementor-heading-title {
	font-family: "Inter", Sans-serif;
	font-size: 28px;
	font-weight: 500;
	color: #000;
}
.elementor-1401 .elementor-element.elementor-element-f893da4 {
	text-align: start;
	font-family: "Inter", Sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: #666;
}
.elementor-1401 .elementor-element.elementor-element-5c6ad93 {
	--display: flex;
	--margin-top: 0px;
	--margin-bottom: 0px;
	--margin-left: 0px;
	--margin-right: 0px;
	--padding-top: 50px;
	--padding-bottom: 50px;
	--padding-left: 50px;
	--padding-right: 50px;
}
.elementor-1401
	.elementor-element.elementor-element-5c6ad93:not(.elementor-motion-effects-element-type-background),
.elementor-1401
	.elementor-element.elementor-element-5c6ad93
	> .elementor-motion-effects-container
	> .elementor-motion-effects-layer {
	background-color: #fff;
}
.elementor-1401 .elementor-element.elementor-element-fa6d292 {
	margin: 0 0 calc(var(--kit-widget-spacing, 0px) + 0px);
	text-align: start;
}
.elementor-1401 .elementor-element.elementor-element-fa6d292 .elementor-heading-title {
	font-family: "Inter", Sans-serif;
	font-size: 28px;
	font-weight: 500;
	color: #000;
}
.elementor-1401 .elementor-element.elementor-element-9de8400 {
	text-align: start;
	font-family: "Inter", Sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: #666;
}
.elementor-1401 .elementor-element.elementor-element-c9ce92e {
	--display: flex;
	--flex-direction: column;
	--container-widget-width: 100%;
	--container-widget-height: initial;
	--container-widget-flex-grow: 0;
	--container-widget-align-self: initial;
	--flex-wrap-mobile: wrap;
	--padding-top: 100px;
	--padding-bottom: 100px;
	--padding-left: 0px;
	--padding-right: 0px;
}
.elementor-1401 .elementor-element.elementor-element-0767cd7 {
	text-align: start;
}
.elementor-1401 .elementor-element.elementor-element-0767cd7 .elementor-heading-title {
	font-family: "Inter", Sans-serif;
	font-size: 56px;
	font-weight: 600;
	color: #000;
}
.elementor-1401 .elementor-element.elementor-element-643f0dd {
	--display: flex;
	--flex-direction: row;
	--container-widget-width: initial;
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--flex-wrap-mobile: wrap;
	--gap: 0px 0px;
	--row-gap: 0px;
	--column-gap: 0px;
	--margin-top: 30px;
	--margin-bottom: 0px;
	--margin-left: 0px;
	--margin-right: 0px;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}
.elementor-1401 .elementor-element.elementor-element-810f364 {
	--display: flex;
	border-style: solid;
	--border-style: solid;
	border-width: 0;
	--border-top-width: 0px;
	--border-right-width: 0px;
	--border-bottom-width: 0px;
	--border-left-width: 0px;
	border-color: #eaeaea;
	--border-color: #eaeaea;
	--margin-top: 0px;
	--margin-bottom: 0px;
	--margin-left: 0px;
	--margin-right: 0px;
	--padding-top: 40px;
	--padding-bottom: 40px;
	--padding-left: 40px;
	--padding-right: 40px;
}
.elementor-1401
	.elementor-element.elementor-element-810f364:not(.elementor-motion-effects-element-type-background),
.elementor-1401
	.elementor-element.elementor-element-810f364
	> .elementor-motion-effects-container
	> .elementor-motion-effects-layer {
	background-color: #fff;
}
.elementor-widget-icon.elementor-view-stacked .elementor-icon {
	background-color: var(--e-global-color-primary);
}
.elementor-widget-icon.elementor-view-framed .elementor-icon,
.elementor-widget-icon.elementor-view-default .elementor-icon {
	color: var(--e-global-color-primary);
	border-color: var(--e-global-color-primary);
}
.elementor-widget-icon.elementor-view-framed .elementor-icon,
.elementor-widget-icon.elementor-view-default .elementor-icon svg {
	fill: var(--e-global-color-primary);
}
.elementor-1401 .elementor-element.elementor-element-480d359 .elementor-icon-wrapper {
	text-align: center;
}
.elementor-1401 .elementor-element.elementor-element-480d359.elementor-view-stacked .elementor-icon {
	background-color: rgba(110, 193, 228, 0);
}
.elementor-1401 .elementor-element.elementor-element-480d359.elementor-view-framed .elementor-icon,
.elementor-1401 .elementor-element.elementor-element-480d359.elementor-view-default .elementor-icon {
	color: rgba(110, 193, 228, 0);
	border-color: rgba(110, 193, 228, 0);
}
.elementor-1401 .elementor-element.elementor-element-480d359.elementor-view-framed .elementor-icon,
.elementor-1401 .elementor-element.elementor-element-480d359.elementor-view-default .elementor-icon svg {
	fill: rgba(110, 193, 228, 0);
}
.elementor-1401 .elementor-element.elementor-element-480d359 .elementor-icon {
	font-size: 80px;
}
.elementor-1401 .elementor-element.elementor-element-480d359 .elementor-icon svg {
	height: 80px;
}
.elementor-1401 .elementor-element.elementor-element-b163912 {
	text-align: center;
}
.elementor-1401 .elementor-element.elementor-element-b163912 .elementor-heading-title {
	font-family: "Inter", Sans-serif;
	font-size: 14px;
	font-weight: 300;
	text-transform: uppercase;
	color: #999;
}
.elementor-1401 .elementor-element.elementor-element-50f9dc8 {
	margin: 0 0 calc(var(--kit-widget-spacing, 0px) + 0px);
	text-align: center;
}
.elementor-1401 .elementor-element.elementor-element-50f9dc8 .elementor-heading-title {
	font-family: "Inter", Sans-serif;
	font-size: 24px;
	font-weight: 600;
	color: #000;
}
.elementor-1401 .elementor-element.elementor-element-10947ab {
	text-align: center;
	font-family: "Inter", Sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: #666;
}
.elementor-1401 .elementor-element.elementor-element-8840de7 {
	--display: flex;
	border-style: solid;
	--border-style: solid;
	border-width: 0;
	--border-top-width: 0px;
	--border-right-width: 0px;
	--border-bottom-width: 0px;
	--border-left-width: 0px;
	border-color: #eaeaea;
	--border-color: #eaeaea;
	--margin-top: 0px;
	--margin-bottom: 0px;
	--margin-left: 0px;
	--margin-right: 0px;
	--padding-top: 40px;
	--padding-bottom: 40px;
	--padding-left: 40px;
	--padding-right: 40px;
}
.elementor-1401
	.elementor-element.elementor-element-8840de7:not(.elementor-motion-effects-element-type-background),
.elementor-1401
	.elementor-element.elementor-element-8840de7
	> .elementor-motion-effects-container
	> .elementor-motion-effects-layer {
	background-color: #fff;
}
.elementor-1401 .elementor-element.elementor-element-24273fd .elementor-icon-wrapper {
	text-align: center;
}
.elementor-1401 .elementor-element.elementor-element-24273fd.elementor-view-stacked .elementor-icon {
	background-color: rgba(110, 193, 228, 0);
}
.elementor-1401 .elementor-element.elementor-element-24273fd.elementor-view-framed .elementor-icon,
.elementor-1401 .elementor-element.elementor-element-24273fd.elementor-view-default .elementor-icon {
	color: rgba(110, 193, 228, 0);
	border-color: rgba(110, 193, 228, 0);
}
.elementor-1401 .elementor-element.elementor-element-24273fd.elementor-view-framed .elementor-icon,
.elementor-1401 .elementor-element.elementor-element-24273fd.elementor-view-default .elementor-icon svg {
	fill: rgba(110, 193, 228, 0);
}
.elementor-1401 .elementor-element.elementor-element-24273fd .elementor-icon {
	font-size: 80px;
}
.elementor-1401 .elementor-element.elementor-element-24273fd .elementor-icon svg {
	height: 80px;
}
.elementor-1401 .elementor-element.elementor-element-671876c {
	text-align: center;
}
.elementor-1401 .elementor-element.elementor-element-671876c .elementor-heading-title {
	font-family: "Inter", Sans-serif;
	font-size: 14px;
	font-weight: 300;
	text-transform: uppercase;
	color: #999;
}
.elementor-1401 .elementor-element.elementor-element-5d58627 {
	margin: 0 0 calc(var(--kit-widget-spacing, 0px) + 0px);
	text-align: center;
}
.elementor-1401 .elementor-element.elementor-element-5d58627 .elementor-heading-title {
	font-family: "Inter", Sans-serif;
	font-size: 24px;
	font-weight: 600;
	color: #000;
}
.elementor-1401 .elementor-element.elementor-element-cb285cd {
	text-align: center;
	font-family: "Inter", Sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: #666;
}
.elementor-1401 .elementor-element.elementor-element-9d340c5 {
	--display: flex;
	border-style: solid;
	--border-style: solid;
	border-width: 0;
	--border-top-width: 0px;
	--border-right-width: 0px;
	--border-bottom-width: 0px;
	--border-left-width: 0px;
	border-color: #eaeaea;
	--border-color: #eaeaea;
	--margin-top: 0px;
	--margin-bottom: 0px;
	--margin-left: 0px;
	--margin-right: 0px;
	--padding-top: 40px;
	--padding-bottom: 40px;
	--padding-left: 40px;
	--padding-right: 40px;
}
.elementor-1401
	.elementor-element.elementor-element-9d340c5:not(.elementor-motion-effects-element-type-background),
.elementor-1401
	.elementor-element.elementor-element-9d340c5
	> .elementor-motion-effects-container
	> .elementor-motion-effects-layer {
	background-color: #fff;
}
.elementor-1401 .elementor-element.elementor-element-00edbf3 .elementor-icon-wrapper {
	text-align: center;
}
.elementor-1401 .elementor-element.elementor-element-00edbf3.elementor-view-stacked .elementor-icon {
	background-color: rgba(110, 193, 228, 0);
}
.elementor-1401 .elementor-element.elementor-element-00edbf3.elementor-view-framed .elementor-icon,
.elementor-1401 .elementor-element.elementor-element-00edbf3.elementor-view-default .elementor-icon {
	color: rgba(110, 193, 228, 0);
	border-color: rgba(110, 193, 228, 0);
}
.elementor-1401 .elementor-element.elementor-element-00edbf3.elementor-view-framed .elementor-icon,
.elementor-1401 .elementor-element.elementor-element-00edbf3.elementor-view-default .elementor-icon svg {
	fill: rgba(110, 193, 228, 0);
}
.elementor-1401 .elementor-element.elementor-element-00edbf3 .elementor-icon {
	font-size: 80px;
}
.elementor-1401 .elementor-element.elementor-element-00edbf3 .elementor-icon svg {
	height: 80px;
}
.elementor-1401 .elementor-element.elementor-element-0126d84 {
	text-align: center;
}
.elementor-1401 .elementor-element.elementor-element-0126d84 .elementor-heading-title {
	font-family: "Inter", Sans-serif;
	font-size: 14px;
	font-weight: 300;
	text-transform: uppercase;
	color: #999;
}
.elementor-1401 .elementor-element.elementor-element-c14b5fc {
	margin: 0 0 calc(var(--kit-widget-spacing, 0px) + 0px);
	text-align: center;
}
.elementor-1401 .elementor-element.elementor-element-c14b5fc .elementor-heading-title {
	font-family: "Inter", Sans-serif;
	font-size: 24px;
	font-weight: 600;
	color: #000;
}
.elementor-1401 .elementor-element.elementor-element-b1f3311 {
	text-align: center;
	font-family: "Inter", Sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: #666;
}
.elementor-1401 .elementor-element.elementor-element-3248228 {
	--display: flex;
	border-style: solid;
	--border-style: solid;
	border-width: 0;
	--border-top-width: 0px;
	--border-right-width: 0px;
	--border-bottom-width: 0px;
	--border-left-width: 0px;
	border-color: #eaeaea;
	--border-color: #eaeaea;
	--margin-top: 0px;
	--margin-bottom: 0px;
	--margin-left: 0px;
	--margin-right: 0px;
	--padding-top: 40px;
	--padding-bottom: 40px;
	--padding-left: 40px;
	--padding-right: 40px;
}
.elementor-1401
	.elementor-element.elementor-element-3248228:not(.elementor-motion-effects-element-type-background),
.elementor-1401
	.elementor-element.elementor-element-3248228
	> .elementor-motion-effects-container
	> .elementor-motion-effects-layer {
	background-color: #fff;
}
.elementor-1401 .elementor-element.elementor-element-9300078 .elementor-icon-wrapper {
	text-align: center;
}
.elementor-1401 .elementor-element.elementor-element-9300078.elementor-view-stacked .elementor-icon {
	background-color: rgba(110, 193, 228, 0);
}
.elementor-1401 .elementor-element.elementor-element-9300078.elementor-view-framed .elementor-icon,
.elementor-1401 .elementor-element.elementor-element-9300078.elementor-view-default .elementor-icon {
	color: rgba(110, 193, 228, 0);
	border-color: rgba(110, 193, 228, 0);
}
.elementor-1401 .elementor-element.elementor-element-9300078.elementor-view-framed .elementor-icon,
.elementor-1401 .elementor-element.elementor-element-9300078.elementor-view-default .elementor-icon svg {
	fill: rgba(110, 193, 228, 0);
}
.elementor-1401 .elementor-element.elementor-element-9300078 .elementor-icon {
	font-size: 80px;
}
.elementor-1401 .elementor-element.elementor-element-9300078 .elementor-icon svg {
	height: 80px;
}
.elementor-1401 .elementor-element.elementor-element-640d897 {
	text-align: center;
}
.elementor-1401 .elementor-element.elementor-element-640d897 .elementor-heading-title {
	font-family: "Inter", Sans-serif;
	font-size: 14px;
	font-weight: 300;
	text-transform: uppercase;
	color: #999;
}
.elementor-1401 .elementor-element.elementor-element-ba01ae5 {
	margin: 0 0 calc(var(--kit-widget-spacing, 0px) + 0px);
	text-align: center;
}
.elementor-1401 .elementor-element.elementor-element-ba01ae5 .elementor-heading-title {
	font-family: "Inter", Sans-serif;
	font-size: 24px;
	font-weight: 600;
	color: #000;
}
.elementor-1401 .elementor-element.elementor-element-ae1053c {
	text-align: center;
	font-family: "Inter", Sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: #666;
}
.elementor-1401 .elementor-element.elementor-element-d62e42d {
	--display: flex;
	--flex-direction: column;
	--container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
	--container-widget-height: initial;
	--container-widget-flex-grow: 0;
	--container-widget-align-self: initial;
	--flex-wrap-mobile: wrap;
	--align-items: center;
	--padding-top: 100px;
	--padding-bottom: 100px;
	--padding-left: 0px;
	--padding-right: 0px;
}
.elementor-1401
	.elementor-element.elementor-element-d62e42d:not(.elementor-motion-effects-element-type-background),
.elementor-1401
	.elementor-element.elementor-element-d62e42d
	> .elementor-motion-effects-container
	> .elementor-motion-effects-layer {
	background-color: #111;
}
.elementor-1401 .elementor-element.elementor-element-ee93b32 {
	width: var(--container-widget-width, 60%);
	max-width: 60%;
	--container-widget-width: 60%;
	--container-widget-flex-grow: 0;
	text-align: center;
}
.elementor-1401 .elementor-element.elementor-element-ee93b32 .elementor-heading-title {
	font-family: "Inter", Sans-serif;
	font-size: 56px;
	font-weight: 600;
	color: #fff;
}
.elementor-1401 .elementor-element.elementor-element-a392a12 {
	width: var(--container-widget-width, 50%);
	max-width: 50%;
	--container-widget-width: 50%;
	--container-widget-flex-grow: 0;
	text-align: center;
	font-family: "Inter", Sans-serif;
	font-size: 20px;
	font-weight: 400;
	color: #fff;
}
.elementor-1401 .elementor-element.elementor-element-e229880 {
	--display: flex;
	--flex-direction: row;
	--container-widget-width: initial;
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--flex-wrap-mobile: wrap;
	--justify-content: center;
}
.elementor-1401 .elementor-element.elementor-element-e28b47a .elementor-button {
	background-color: #fff;
	font-family: "Inter", Sans-serif;
	font-size: 16px;
	font-weight: 300;
	fill: #111;
	color: #111;
	border-style: solid;
	border-width: 1px;
	border-color: #111;
	border-radius: 0px 0px 0px 0px;
	padding: 20px 40px;
}
.elementor-1401 .elementor-element.elementor-element-e28b47a .elementor-button:hover,
.elementor-1401 .elementor-element.elementor-element-e28b47a .elementor-button:focus {
	background-color: #fff;
}
.elementor-1401 .elementor-element.elementor-element-e28b47a {
	margin: 30px 0 calc(var(--kit-widget-spacing, 0px) + 0px);
}
.elementor-1401 .elementor-element.elementor-element-ff3e946 .elementor-button {
	background-color: rgba(255, 255, 255, 0);
	font-family: "Inter", Sans-serif;
	font-size: 16px;
	font-weight: 300;
	fill: #fff;
	color: #fff;
	border-style: solid;
	border-width: 1px;
	border-color: #fff;
	border-radius: 0px 0px 0px 0px;
	padding: 20px 40px;
}
.elementor-1401 .elementor-element.elementor-element-ff3e946 .elementor-button:hover,
.elementor-1401 .elementor-element.elementor-element-ff3e946 .elementor-button:focus {
	background-color: #1a1a1a;
}
.elementor-1401 .elementor-element.elementor-element-ff3e946 {
	margin: 30px 0 calc(var(--kit-widget-spacing, 0px) + 0px);
}
@media (max-width: 767px) {
	.elementor-1401 .elementor-element.elementor-element-8e5f2d1 {
		--padding-top: 40px;
		--padding-bottom: 40px;
		--padding-left: 20px;
		--padding-right: 20px;
	}
	.elementor-1401 .elementor-element.elementor-element-8e5f2d1.e-con {
		--order: 99999;
	}
	.elementor-1401 .elementor-element.elementor-element-4d4864e {
		--padding-top: 0px;
		--padding-bottom: 0px;
		--padding-left: 0px;
		--padding-right: 0px;
	}
	.elementor-1401 .elementor-element.elementor-element-2422977 {
		text-align: center;
	}
	.elementor-1401 .elementor-element.elementor-element-2422977 .elementor-heading-title {
		font-size: 44px;
	}
	.elementor-1401 .elementor-element.elementor-element-ab19e4e {
		margin: 0 0 calc(var(--kit-widget-spacing, 0px) + 0px);
		text-align: center;
		font-size: 18px;
	}
	.elementor-1401 .elementor-element.elementor-element-2b675c4 {
		margin: 0 0 calc(var(--kit-widget-spacing, 0px) + 0px);
	}
	.elementor-1401 .elementor-element.elementor-element-0c19810 {
		--margin-top: 20px;
		--margin-bottom: 0px;
		--margin-left: 0px;
		--margin-right: 0px;
	}
	.elementor-1401 .elementor-element.elementor-element-0c19810.e-con {
		--order: 99999;
	}
	.elementor-1401 .elementor-element.elementor-element-e2da3dc img {
		width: 100%;
	}
	.elementor-1401 .elementor-element.elementor-element-c5b6d18 {
		--padding-top: 40px;
		--padding-bottom: 40px;
		--padding-left: 20px;
		--padding-right: 20px;
	}
	.elementor-1401 .elementor-element.elementor-element-0467933 .elementor-heading-title {
		font-size: 36px;
	}
	.elementor-1401 .elementor-element.elementor-element-f9040e7 {
		text-align: start;
		font-size: 18px;
	}
	.elementor-1401 .elementor-element.elementor-element-c8db3b8 {
		--padding-top: 40px;
		--padding-bottom: 40px;
		--padding-left: 20px;
		--padding-right: 20px;
	}
	.elementor-1401 .elementor-element.elementor-element-b8365c7 {
		--margin-top: 20px;
		--margin-bottom: 0px;
		--margin-left: 0px;
		--margin-right: 0px;
	}
	.elementor-1401 .elementor-element.elementor-element-cf20808 .elementor-heading-title {
		font-size: 36px;
	}
	.elementor-1401 .elementor-element.elementor-element-9fe6cb2 {
		margin: 0 0 calc(var(--kit-widget-spacing, 0px) + 0px);
		--e-icon-list-icon-size: 16px;
		--icon-vertical-align: flex-start;
		--icon-vertical-offset: 6px;
	}
	.elementor-1401
		.elementor-element.elementor-element-9fe6cb2
		.elementor-icon-list-item
		> .elementor-icon-list-text,
	.elementor-1401 .elementor-element.elementor-element-9fe6cb2 .elementor-icon-list-item > a {
		font-size: 18px;
	}
	.elementor-1401 .elementor-element.elementor-element-ddd7af6 {
		--padding-top: 40px;
		--padding-bottom: 40px;
		--padding-left: 20px;
		--padding-right: 20px;
	}
	.elementor-1401 .elementor-element.elementor-element-10a8ec9 .elementor-heading-title {
		font-size: 32px;
	}
	.elementor-1401 .elementor-element.elementor-element-eb12e00 {
		--padding-top: 30px;
		--padding-bottom: 30px;
		--padding-left: 30px;
		--padding-right: 30px;
	}
	.elementor-1401 .elementor-element.elementor-element-f29cdab .elementor-heading-title {
		font-size: 22px;
	}
	.elementor-1401 .elementor-element.elementor-element-056440d {
		--padding-top: 30px;
		--padding-bottom: 30px;
		--padding-left: 30px;
		--padding-right: 30px;
	}
	.elementor-1401 .elementor-element.elementor-element-d9fce11 .elementor-heading-title {
		font-size: 22px;
	}
	.elementor-1401 .elementor-element.elementor-element-e5b7130 {
		--padding-top: 30px;
		--padding-bottom: 30px;
		--padding-left: 30px;
		--padding-right: 30px;
	}
	.elementor-1401 .elementor-element.elementor-element-fc6685b .elementor-heading-title {
		font-size: 22px;
	}
	.elementor-1401 .elementor-element.elementor-element-5c6ad93 {
		--padding-top: 30px;
		--padding-bottom: 30px;
		--padding-left: 30px;
		--padding-right: 30px;
	}
	.elementor-1401 .elementor-element.elementor-element-fa6d292 .elementor-heading-title {
		font-size: 22px;
	}
	.elementor-1401 .elementor-element.elementor-element-c9ce92e {
		--padding-top: 40px;
		--padding-bottom: 40px;
		--padding-left: 20px;
		--padding-right: 20px;
	}
	.elementor-1401 .elementor-element.elementor-element-0767cd7 {
		text-align: center;
	}
	.elementor-1401 .elementor-element.elementor-element-0767cd7 .elementor-heading-title {
		font-size: 44px;
	}
	.elementor-1401 .elementor-element.elementor-element-810f364 {
		border-width: 0;
		--border-top-width: 0px;
		--border-right-width: 0px;
		--border-bottom-width: 0px;
		--border-left-width: 0px;
		--padding-top: 20px;
		--padding-bottom: 0px;
		--padding-left: 0px;
		--padding-right: 0px;
	}
	.elementor-1401 .elementor-element.elementor-element-480d359 .elementor-icon {
		font-size: 87px;
	}
	.elementor-1401 .elementor-element.elementor-element-480d359 .elementor-icon svg {
		height: 87px;
	}
	.elementor-1401 .elementor-element.elementor-element-50f9dc8 {
		text-align: center;
	}
	.elementor-1401 .elementor-element.elementor-element-10947ab {
		text-align: center;
	}
	.elementor-1401 .elementor-element.elementor-element-8840de7 {
		border-width: 0;
		--border-top-width: 0px;
		--border-right-width: 0px;
		--border-bottom-width: 0px;
		--border-left-width: 0px;
		--padding-top: 20px;
		--padding-bottom: 0px;
		--padding-left: 0px;
		--padding-right: 0px;
	}
	.elementor-1401 .elementor-element.elementor-element-24273fd .elementor-icon {
		font-size: 87px;
	}
	.elementor-1401 .elementor-element.elementor-element-24273fd .elementor-icon svg {
		height: 87px;
	}
	.elementor-1401 .elementor-element.elementor-element-5d58627 {
		text-align: center;
	}
	.elementor-1401 .elementor-element.elementor-element-cb285cd {
		text-align: center;
	}
	.elementor-1401 .elementor-element.elementor-element-9d340c5 {
		border-width: 0;
		--border-top-width: 0px;
		--border-right-width: 0px;
		--border-bottom-width: 0px;
		--border-left-width: 0px;
		--padding-top: 20px;
		--padding-bottom: 0px;
		--padding-left: 0px;
		--padding-right: 0px;
	}
	.elementor-1401 .elementor-element.elementor-element-00edbf3 .elementor-icon {
		font-size: 87px;
	}
	.elementor-1401 .elementor-element.elementor-element-00edbf3 .elementor-icon svg {
		height: 87px;
	}
	.elementor-1401 .elementor-element.elementor-element-c14b5fc {
		text-align: center;
	}
	.elementor-1401 .elementor-element.elementor-element-b1f3311 {
		text-align: center;
	}
	.elementor-1401 .elementor-element.elementor-element-3248228 {
		border-width: 0;
		--border-top-width: 0px;
		--border-right-width: 0px;
		--border-bottom-width: 0px;
		--border-left-width: 0px;
		--padding-top: 20px;
		--padding-bottom: 0px;
		--padding-left: 0px;
		--padding-right: 0px;
	}
	.elementor-1401 .elementor-element.elementor-element-9300078 .elementor-icon {
		font-size: 87px;
	}
	.elementor-1401 .elementor-element.elementor-element-9300078 .elementor-icon svg {
		height: 87px;
	}
	.elementor-1401 .elementor-element.elementor-element-ba01ae5 {
		text-align: center;
	}
	.elementor-1401 .elementor-element.elementor-element-ae1053c {
		text-align: center;
	}
	.elementor-1401 .elementor-element.elementor-element-d62e42d {
		--padding-top: 40px;
		--padding-bottom: 40px;
		--padding-left: 20px;
		--padding-right: 20px;
	}
	.elementor-1401 .elementor-element.elementor-element-ee93b32 {
		--container-widget-width: 100%;
		--container-widget-flex-grow: 0;
		width: var(--container-widget-width, 100%);
		max-width: 100%;
	}
	.elementor-1401 .elementor-element.elementor-element-ee93b32 .elementor-heading-title {
		font-size: 36px;
	}
	.elementor-1401 .elementor-element.elementor-element-a392a12 {
		--container-widget-width: 100%;
		--container-widget-flex-grow: 0;
		width: var(--container-widget-width, 100%);
		max-width: 100%;
		font-size: 18px;
	}
	.elementor-1401 .elementor-element.elementor-element-e28b47a {
		width: 100%;
		max-width: 100%;
		margin: 0 0 calc(var(--kit-widget-spacing, 0px) + 0px);
	}
	.elementor-1401 .elementor-element.elementor-element-ff3e946 {
		width: 100%;
		max-width: 100%;
		margin: 0 0 calc(var(--kit-widget-spacing, 0px) + 0px);
	}
}
@media (min-width: 768px) {
	.elementor-1401 .elementor-element.elementor-element-8e5f2d1 {
		--content-width: 1400px;
	}
	.elementor-1401 .elementor-element.elementor-element-4d4864e {
		--width: 55%;
	}
	.elementor-1401 .elementor-element.elementor-element-0c19810 {
		--width: 45%;
	}
	.elementor-1401 .elementor-element.elementor-element-c5b6d18 {
		--content-width: 986px;
	}
	.elementor-1401 .elementor-element.elementor-element-c8db3b8 {
		--content-width: 986px;
	}
	.elementor-1401 .elementor-element.elementor-element-ddd7af6 {
		--content-width: 1400px;
	}
	.elementor-1401 .elementor-element.elementor-element-c9ce92e {
		--content-width: 986px;
	}
	.elementor-1401 .elementor-element.elementor-element-d62e42d {
		--content-width: 1400px;
	}
}
.ima {
	overflow: hidden;
}
.ima:hover {
	cursor: pointer;
}
