.elementor-43 .elementor-element.elementor-element-141d87a {
	--display: flex;
	--flex-direction: row;
	--container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--flex-wrap-mobile: wrap;
	--align-items: center;
	--gap: 0px 0px;
	--row-gap: 0px;
	--column-gap: 0px;
}
.elementor-43
	.elementor-element.elementor-element-141d87a:not(.elementor-motion-effects-element-type-background),
.elementor-43
	.elementor-element.elementor-element-141d87a
	> .elementor-motion-effects-container
	> .elementor-motion-effects-layer {
	background-color: #ffffff;
}
.elementor-43 .elementor-element.elementor-element-ad6c253 {
	--display: flex;
	--flex-direction: column;
	--container-widget-width: 100%;
	--container-widget-height: initial;
	--container-widget-flex-grow: 0;
	--container-widget-align-self: initial;
	--flex-wrap-mobile: wrap;
	--justify-content: center;
}
.elementor-widget-image .widget-image-caption {
	color: var(--e-global-color-text);
	font-family: var(--e-global-typography-text-font-family), Sans-serif;
	font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-43 .elementor-element.elementor-element-999f559 {
	width: var(--container-widget-width, 100%);
	max-width: 100%;
	--container-widget-width: 100%;
	--container-widget-flex-grow: 0;
	text-align: start;
}
.elementor-43 .elementor-element.elementor-element-999f559 img {
	width: 70%;
}
.elementor-43 .elementor-element.elementor-element-5590837 {
	--display: flex;
	--flex-direction: row;
	--container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--flex-wrap-mobile: wrap;
	--justify-content: flex-end;
	--align-items: flex-end;
}
.elementor-widget-mega-menu
	> .e-n-menu
	> .e-n-menu-wrapper
	> .e-n-menu-heading
	> .e-n-menu-item
	> .e-n-menu-title,
.elementor-widget-mega-menu
	> .e-n-menu
	> .e-n-menu-wrapper
	> .e-n-menu-heading
	> .e-n-menu-item
	> .e-n-menu-title
	> .e-n-menu-title-container,
.elementor-widget-mega-menu
	> .e-n-menu
	> .e-n-menu-wrapper
	> .e-n-menu-heading
	> .e-n-menu-item
	> .e-n-menu-title
	> .e-n-menu-title-container
	> span {
	font-family: var(--e-global-typography-accent-font-family), Sans-serif;
	font-weight: var(--e-global-typography-accent-font-weight);
}
.elementor-widget-mega-menu {
	--n-menu-divider-color: var(--e-global-color-text);
}
.elementor-43 .elementor-element.elementor-element-a89e3c1 {
	--display: flex;
	--gap: 0px 0px;
	--row-gap: 0px;
	--column-gap: 0px;
}
.elementor-43
	.elementor-element.elementor-element-a89e3c1:not(.elementor-motion-effects-element-type-background),
.elementor-43
	.elementor-element.elementor-element-a89e3c1
	> .elementor-motion-effects-container
	> .elementor-motion-effects-layer {
	background-color: #02010100;
}
.elementor-43 .elementor-element.elementor-element-392b418 {
	--display: flex;
	--flex-direction: row;
	--container-widget-width: initial;
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--flex-wrap-mobile: wrap;
	--gap: 2px 2px;
	--row-gap: 2px;
	--column-gap: 2px;
	--padding-top: 2px;
	--padding-bottom: 2px;
	--padding-left: 2px;
	--padding-right: 2px;
}
.elementor-43
	.elementor-element.elementor-element-392b418:not(.elementor-motion-effects-element-type-background),
.elementor-43
	.elementor-element.elementor-element-392b418
	> .elementor-motion-effects-container
	> .elementor-motion-effects-layer {
	background-color: #ffffff;
}
.elementor-43 .elementor-element.elementor-element-3cd44fd {
	--display: flex;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}
.elementor-43 .elementor-element.elementor-element-d00c1f7 {
	--display: flex;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}
.elementor-43 .elementor-element.elementor-element-1692109 img {
	filter: brightness(100%) contrast(100%) saturate(0%) blur(0px) hue-rotate(0deg);
}
.elementor-43 .elementor-element.elementor-element-1692109:hover img {
	filter: brightness(100%) contrast(100%) saturate(200%) blur(0px) hue-rotate(0deg);
}
.elementor-widget-heading .elementor-heading-title {
	font-family: var(--e-global-typography-primary-font-family), Sans-serif;
	font-weight: var(--e-global-typography-primary-font-weight);
	color: var(--e-global-color-primary);
}
.elementor-43 .elementor-element.elementor-element-33743e6 {
	margin: 10px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 0px;
	padding: 0px 15px 0px 15px;
	text-align: start;
}
.elementor-43 .elementor-element.elementor-element-33743e6 .elementor-heading-title {
	font-family: "Inter", Sans-serif;
	font-size: 17px;
	font-weight: 600;
	color: #000000;
}
.elementor-widget-text-editor {
	font-family: var(--e-global-typography-text-font-family), Sans-serif;
	font-weight: var(--e-global-typography-text-font-weight);
	color: var(--e-global-color-text);
}
.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
	background-color: var(--e-global-color-primary);
}
.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap,
.elementor-widget-text-editor.elementor-drop-cap-view-default .elementor-drop-cap {
	color: var(--e-global-color-primary);
	border-color: var(--e-global-color-primary);
}
.elementor-43 .elementor-element.elementor-element-ce10286 {
	margin: -10px 0px calc(var(--kit-widget-spacing, 0px) + 10px) 0px;
	padding: 0px 15px 0px 15px;
	text-align: start;
	font-family: "Inter", Sans-serif;
	font-size: 13px;
	font-weight: 400;
	color: #666666;
}
.elementor-43 .elementor-element.elementor-element-804f0ac {
	--display: flex;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}
.elementor-43 .elementor-element.elementor-element-77f14e7 {
	--display: flex;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}
.elementor-43 .elementor-element.elementor-element-5aa1629 img {
	filter: brightness(100%) contrast(100%) saturate(0%) blur(0px) hue-rotate(0deg);
}
.elementor-43 .elementor-element.elementor-element-5aa1629:hover img {
	filter: brightness(100%) contrast(100%) saturate(200%) blur(0px) hue-rotate(0deg);
}
.elementor-43 .elementor-element.elementor-element-9d8653f {
	margin: 10px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 0px;
	padding: 0px 15px 0px 15px;
	text-align: start;
}
.elementor-43 .elementor-element.elementor-element-9d8653f .elementor-heading-title {
	font-family: "Inter", Sans-serif;
	font-size: 17px;
	font-weight: 600;
	color: #000000;
}
.elementor-43 .elementor-element.elementor-element-b39133e {
	margin: -10px 0px calc(var(--kit-widget-spacing, 0px) + 10px) 0px;
	padding: 0px 15px 0px 15px;
	text-align: start;
	font-family: "Inter", Sans-serif;
	font-size: 13px;
	font-weight: 400;
	color: #666666;
}
.elementor-43 .elementor-element.elementor-element-5d8f50d {
	--display: flex;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}
.elementor-43 .elementor-element.elementor-element-b58a830 {
	--display: flex;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}
.elementor-43 .elementor-element.elementor-element-396a7bc img {
	height: 199px;
	filter: brightness(100%) contrast(100%) saturate(0%) blur(0px) hue-rotate(0deg);
}
.elementor-43 .elementor-element.elementor-element-396a7bc:hover img {
	filter: brightness(100%) contrast(100%) saturate(200%) blur(0px) hue-rotate(0deg);
}
.elementor-43 .elementor-element.elementor-element-a0fa474 {
	margin: 10px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 0px;
	padding: 0px 15px 0px 15px;
	text-align: start;
}
.elementor-43 .elementor-element.elementor-element-a0fa474 .elementor-heading-title {
	font-family: "Inter", Sans-serif;
	font-size: 17px;
	font-weight: 600;
	color: #000000;
}
.elementor-43 .elementor-element.elementor-element-39f8261 {
	margin: -10px 0px calc(var(--kit-widget-spacing, 0px) + 10px) 0px;
	padding: 0px 15px 0px 15px;
	text-align: start;
	font-family: "Inter", Sans-serif;
	font-size: 13px;
	font-weight: 400;
	color: #666666;
}
.elementor-43 .elementor-element.elementor-element-a9dd2a9 {
	--display: flex;
	--flex-direction: row;
	--container-widget-width: initial;
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--flex-wrap-mobile: wrap;
	--gap: 2px 2px;
	--row-gap: 2px;
	--column-gap: 2px;
	--padding-top: 2px;
	--padding-bottom: 2px;
	--padding-left: 2px;
	--padding-right: 2px;
}
.elementor-43
	.elementor-element.elementor-element-a9dd2a9:not(.elementor-motion-effects-element-type-background),
.elementor-43
	.elementor-element.elementor-element-a9dd2a9
	> .elementor-motion-effects-container
	> .elementor-motion-effects-layer {
	background-color: #ffffff;
}
.elementor-43 .elementor-element.elementor-element-fa294fb {
	--display: flex;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}
.elementor-43 .elementor-element.elementor-element-1d9e1c5 {
	--display: flex;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}
.elementor-43 .elementor-element.elementor-element-e2af548 img {
	filter: brightness(100%) contrast(100%) saturate(0%) blur(0px) hue-rotate(0deg);
}
.elementor-43 .elementor-element.elementor-element-e2af548:hover img {
	filter: brightness(100%) contrast(100%) saturate(200%) blur(0px) hue-rotate(0deg);
}
.elementor-43 .elementor-element.elementor-element-f73d708 {
	margin: 10px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 0px;
	padding: 0px 15px 0px 15px;
	text-align: start;
}
.elementor-43 .elementor-element.elementor-element-f73d708 .elementor-heading-title {
	font-family: "Inter", Sans-serif;
	font-size: 17px;
	font-weight: 600;
	color: #000000;
}
.elementor-43 .elementor-element.elementor-element-01ba262 {
	margin: -10px 0px calc(var(--kit-widget-spacing, 0px) + 10px) 0px;
	padding: 0px 15px 0px 15px;
	text-align: start;
	font-family: "Inter", Sans-serif;
	font-size: 13px;
	font-weight: 400;
	color: #666666;
}
.elementor-43 .elementor-element.elementor-element-d1604f8 {
	--display: flex;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}
.elementor-43 .elementor-element.elementor-element-9bc237d {
	--display: flex;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}
.elementor-43 .elementor-element.elementor-element-56ce435 img {
	height: 199px;
	filter: brightness(100%) contrast(100%) saturate(0%) blur(0px) hue-rotate(0deg);
}
.elementor-43 .elementor-element.elementor-element-56ce435:hover img {
	filter: brightness(100%) contrast(100%) saturate(200%) blur(0px) hue-rotate(0deg);
}
.elementor-43 .elementor-element.elementor-element-9c1f1bc {
	margin: 10px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 0px;
	padding: 0px 15px 0px 15px;
	text-align: start;
}
.elementor-43 .elementor-element.elementor-element-9c1f1bc .elementor-heading-title {
	font-family: "Inter", Sans-serif;
	font-size: 17px;
	font-weight: 600;
	color: #000000;
}
.elementor-43 .elementor-element.elementor-element-fbab758 {
	margin: -10px 0px calc(var(--kit-widget-spacing, 0px) + 10px) 0px;
	padding: 0px 15px 0px 15px;
	text-align: start;
	font-family: "Inter", Sans-serif;
	font-size: 13px;
	font-weight: 400;
	color: #666666;
}
.elementor-43 .elementor-element.elementor-element-246ec86 {
	--display: flex;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}
.elementor-43 .elementor-element.elementor-element-b84764d {
	--display: flex;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}
.elementor-43 .elementor-element.elementor-element-15ec58f img {
	filter: brightness(100%) contrast(100%) saturate(0%) blur(0px) hue-rotate(0deg);
}
.elementor-43 .elementor-element.elementor-element-15ec58f:hover img {
	filter: brightness(100%) contrast(100%) saturate(200%) blur(0px) hue-rotate(0deg);
}
.elementor-43 .elementor-element.elementor-element-1848be7 {
	margin: 10px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 0px;
	padding: 0px 15px 0px 15px;
	text-align: start;
}
.elementor-43 .elementor-element.elementor-element-1848be7 .elementor-heading-title {
	font-family: "Inter", Sans-serif;
	font-size: 17px;
	font-weight: 600;
	color: #000000;
}
.elementor-43 .elementor-element.elementor-element-8f49370 {
	margin: -10px 0px calc(var(--kit-widget-spacing, 0px) + 10px) 0px;
	padding: 0px 15px 0px 15px;
	text-align: start;
	font-family: "Inter", Sans-serif;
	font-size: 13px;
	font-weight: 400;
	color: #666666;
}
.elementor-43 .elementor-element.elementor-element-a314bea {
	--display: flex;
}
.elementor-43 .elementor-element.elementor-element-1e20003 {
	--display: flex;
}
.elementor-43 .elementor-element.elementor-element-f7b2269 {
	--display: flex;
}
.elementor-43 .elementor-element.elementor-element-b14d127 {
	--n-menu-dropdown-content-max-width: initial;
	--n-menu-heading-justify-content: flex-end;
	--n-menu-title-flex-grow: initial;
	--n-menu-title-justify-content: initial;
	--n-menu-title-justify-content-mobile: flex-end;
	--n-menu-heading-wrap: wrap;
	--n-menu-heading-overflow-x: initial;
	--n-menu-title-distance-from-content: 0px;
	--n-menu-toggle-align: center;
	--n-menu-toggle-icon-wrapper-animation-duration: 500ms;
	--n-menu-title-space-between: 0px;
	--n-menu-title-font-size: 15px;
	--n-menu-title-transition: 300ms;
	--n-menu-icon-size: 16px;
	--n-menu-toggle-icon-size: 20px;
	--n-menu-toggle-icon-hover-duration: 500ms;
	--n-menu-toggle-icon-distance-from-dropdown: 0px;
}
.elementor-43
	.elementor-element.elementor-element-b14d127
	> .e-n-menu
	> .e-n-menu-wrapper
	> .e-n-menu-heading
	> .e-n-menu-item
	> .e-n-menu-title,
.elementor-43
	.elementor-element.elementor-element-b14d127
	> .e-n-menu
	> .e-n-menu-wrapper
	> .e-n-menu-heading
	> .e-n-menu-item
	> .e-n-menu-title
	> .e-n-menu-title-container,
.elementor-43
	.elementor-element.elementor-element-b14d127
	> .e-n-menu
	> .e-n-menu-wrapper
	> .e-n-menu-heading
	> .e-n-menu-item
	> .e-n-menu-title
	> .e-n-menu-title-container
	> span {
	font-family: "Inter", Sans-serif;
	font-weight: 400;
}
.elementor-43 .elementor-element.elementor-element-b14d127 {
	--n-menu-title-color-active: #1a1a1a;
}
.elementor-widget-button .elementor-button {
	background-color: var(--e-global-color-accent);
	font-family: var(--e-global-typography-accent-font-family), Sans-serif;
	font-weight: var(--e-global-typography-accent-font-weight);
}
.elementor-43 .elementor-element.elementor-element-e16631f .elementor-button {
	background-color: #11111100;
	font-family: "Inter", Sans-serif;
	font-size: 14px;
	font-weight: 300;
	fill: #111111;
	color: #111111;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #111111;
	border-radius: 0px 0px 0px 0px;
	padding: 14px 24px 14px 24px;
}
.elementor-43 .elementor-element.elementor-element-e16631f .elementor-button:hover,
.elementor-43 .elementor-element.elementor-element-e16631f .elementor-button:focus {
	background-color: #111111;
	color: #ffffff;
}
.elementor-43 .elementor-element.elementor-element-e16631f .elementor-button:hover svg,
.elementor-43 .elementor-element.elementor-element-e16631f .elementor-button:focus svg {
	fill: #ffffff;
}
.elementor-theme-builder-content-area {
	height: 400px;
}
.elementor-location-header:before,
.elementor-location-footer:before {
	content: "";
	display: table;
	clear: both;
}
@media (max-width: 767px) {
	.elementor-43 .elementor-element.elementor-element-141d87a {
		--justify-content: center;
	}
	.elementor-43 .elementor-element.elementor-element-ad6c253 {
		--width: 70%;
		--padding-top: 0px;
		--padding-bottom: 0px;
		--padding-left: 0px;
		--padding-right: 0px;
	}
	.elementor-43 .elementor-element.elementor-element-999f559 img {
		width: 100%;
	}
	.elementor-43 .elementor-element.elementor-element-5590837 {
		--width: 30%;
		--justify-content: center;
		--align-items: flex-end;
		--container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
	}
	.elementor-43 .elementor-element.elementor-element-d00c1f7 {
		--margin-top: 0px;
		--margin-bottom: 0px;
		--margin-left: 0px;
		--margin-right: 0px;
	}
	.elementor-43 .elementor-element.elementor-element-1692109 img {
		height: 250px;
	}
	.elementor-43 .elementor-element.elementor-element-77f14e7 {
		--margin-top: 0px;
		--margin-bottom: 0px;
		--margin-left: 0px;
		--margin-right: 0px;
	}
	.elementor-43 .elementor-element.elementor-element-5aa1629 img {
		height: 250px;
	}
	.elementor-43 .elementor-element.elementor-element-b58a830 {
		--margin-top: 0px;
		--margin-bottom: 0px;
		--margin-left: 0px;
		--margin-right: 0px;
	}
	.elementor-43 .elementor-element.elementor-element-396a7bc img {
		height: 250px;
	}
	.elementor-43 .elementor-element.elementor-element-1d9e1c5 {
		--margin-top: 0px;
		--margin-bottom: 0px;
		--margin-left: 0px;
		--margin-right: 0px;
	}
	.elementor-43 .elementor-element.elementor-element-e2af548 img {
		height: 250px;
	}
	.elementor-43 .elementor-element.elementor-element-9bc237d {
		--margin-top: 0px;
		--margin-bottom: 0px;
		--margin-left: 0px;
		--margin-right: 0px;
	}
	.elementor-43 .elementor-element.elementor-element-56ce435 img {
		height: 250px;
	}
	.elementor-43 .elementor-element.elementor-element-b84764d {
		--margin-top: 0px;
		--margin-bottom: 0px;
		--margin-left: 0px;
		--margin-right: 0px;
	}
	.elementor-43 .elementor-element.elementor-element-15ec58f img {
		height: 250px;
	}
	.elementor-43 .elementor-element.elementor-element-b14d127.elementor-element {
		--align-self: flex-end;
	}
	.elementor-43 .elementor-element.elementor-element-b14d127 {
		--n-menu-toggle-align: flex-end;
	}
}
@media (min-width: 768px) {
	.elementor-43 .elementor-element.elementor-element-141d87a {
		--content-width: 1600px;
	}
	.elementor-43 .elementor-element.elementor-element-ad6c253 {
		--width: 38%;
	}
	.elementor-43 .elementor-element.elementor-element-5590837 {
		--width: 66.6666%;
	}
	.elementor-43 .elementor-element.elementor-element-a89e3c1 {
		--content-width: 900px;
	}
} /* Start custom CSS for container, class: .elementor-element-d00c1f7 */
.ima {
	overflow: hidden;
}

.ima:hover {
	cursor: pointer;
} /* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-77f14e7 */
.ima {
	overflow: hidden;
}

.ima:hover {
	cursor: pointer;
} /* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-b58a830 */
.ima {
	overflow: hidden;
}

.ima:hover {
	cursor: pointer;
} /* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-1d9e1c5 */
.ima {
	overflow: hidden;
}

.ima:hover {
	cursor: pointer;
} /* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-9bc237d */
.ima {
	overflow: hidden;
}

.ima:hover {
	cursor: pointer;
} /* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-b84764d */
.ima {
	overflow: hidden;
}

.ima:hover {
	cursor: pointer;
} /* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-d00c1f7 */
.ima {
	overflow: hidden;
}

.ima:hover {
	cursor: pointer;
} /* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-77f14e7 */
.ima {
	overflow: hidden;
}

.ima:hover {
	cursor: pointer;
} /* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-b58a830 */
.ima {
	overflow: hidden;
}

.ima:hover {
	cursor: pointer;
} /* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-1d9e1c5 */
.ima {
	overflow: hidden;
}

.ima:hover {
	cursor: pointer;
} /* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-9bc237d */
.ima {
	overflow: hidden;
}

.ima:hover {
	cursor: pointer;
} /* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-b84764d */
.ima {
	overflow: hidden;
}

.ima:hover {
	cursor: pointer;
} /* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-d00c1f7 */
.ima {
	overflow: hidden;
}

.ima:hover {
	cursor: pointer;
} /* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-77f14e7 */
.ima {
	overflow: hidden;
}

.ima:hover {
	cursor: pointer;
} /* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-b58a830 */
.ima {
	overflow: hidden;
}

.ima:hover {
	cursor: pointer;
} /* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-1d9e1c5 */
.ima {
	overflow: hidden;
}

.ima:hover {
	cursor: pointer;
} /* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-9bc237d */
.ima {
	overflow: hidden;
}

.ima:hover {
	cursor: pointer;
} /* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-b84764d */
.ima {
	overflow: hidden;
}

.ima:hover {
	cursor: pointer;
} /* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-d00c1f7 */
.ima {
	overflow: hidden;
}

.ima:hover {
	cursor: pointer;
} /* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-77f14e7 */
.ima {
	overflow: hidden;
}

.ima:hover {
	cursor: pointer;
} /* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-b58a830 */
.ima {
	overflow: hidden;
}

.ima:hover {
	cursor: pointer;
} /* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-1d9e1c5 */
.ima {
	overflow: hidden;
}

.ima:hover {
	cursor: pointer;
} /* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-9bc237d */
.ima {
	overflow: hidden;
}

.ima:hover {
	cursor: pointer;
} /* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-b84764d */
.ima {
	overflow: hidden;
}

.ima:hover {
	cursor: pointer;
} /* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-d00c1f7 */
.ima {
	overflow: hidden;
}

.ima:hover {
	cursor: pointer;
} /* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-77f14e7 */
.ima {
	overflow: hidden;
}

.ima:hover {
	cursor: pointer;
} /* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-b58a830 */
.ima {
	overflow: hidden;
}

.ima:hover {
	cursor: pointer;
} /* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-1d9e1c5 */
.ima {
	overflow: hidden;
}

.ima:hover {
	cursor: pointer;
} /* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-9bc237d */
.ima {
	overflow: hidden;
}

.ima:hover {
	cursor: pointer;
} /* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-b84764d */
.ima {
	overflow: hidden;
}

.ima:hover {
	cursor: pointer;
} /* End custom CSS */
